<h3 class="mt-4 text-center">Product List</h3>
<div class="text-center mb-4">
  <button class="btn btn-primary d-flex align-items-center" (click)="navigateToModal()" mdbRipple>
    <i class="fas fa-plus" style="margin-left: 0;"></i> Add Product
  </button>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <table class="table table-hover table-striped align-middle responsive-table" >
  <thead class="table-primary">
    <tr>
      <th style="width: 10%;">Photo</th>
      <th scope="col" style="width: 20%;">Name</th>
      <th scope="col" style="width: 15%;">Price</th>
      <th scope="col" style="width: 15%;">Status</th>
      <th scope="col" style="width: 20%;">Discount</th>
      <th scope="col" style="width: 20%;">Actions</th>
    </tr>
  </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>
              <img
              [src]="getImageUrl(product.imagePath)"
              alt="{{ product.name }}"
              style="width: 45px; height: 45px"
              class="rounded-circle border"
            />


            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} kyat</td>
            <td>{{ product.status ? 'Active' : 'Inactive' }}</td>
            <td>
              <span *ngIf="!isEditing(product.id, 'discount')">{{ product.discount }}%</span>
              <input *ngIf="isEditing(product.id, 'discount')"
              [(ngModel)]="editableProduct.discount"
              type="number"
              class="form-control form-control-sm"
              style="width: 70px; display: inline-block;" />

              <button class="btn btn-link" (click)="toggleEditDiscount(product.id)" [disabled]="isSaving">
                <i *ngIf="!isEditing(product.id, 'discount')" class="fas fa-edit text-warning"></i>
                <i *ngIf="isEditing(product.id, 'discount')" class="fas fa-check text-success"></i>
              </button>
              <button *ngIf="isEditing(product.id, 'discount')" class="btn btn-link" (click)="closeEdit()" [disabled]="isSaving">
                <i class="fas fa-times text-danger"></i>
              </button>
            </td>
            <td>
              <button (click)="navigateToProductDetail(product.id)" class="btn btn-info btn-sm">
                <i class="fas fa-info-circle"></i>
              </button>
              <button
              *ngIf="product.discount"
              class="btn btn-warning rounded rounded-circle btn-sm"
              mdbRipple
              mdbTooltip="Add new Coupon "
              placement="right"
              (click)="openModal(product.id)" mdbRipple>
               <i class="fas fa-plus"></i>
              </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
