
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light border-bottom bg-light py-md-2 fixed-top">

  <div class="container-fluid ">
    <div class="mx-3 d-flex align-items-center ">
      <a
      class="text-dark me-3"
      type="button"
      (click)="toggleSidebar()"
      aria-label="Toggle sidebar"
    >
    <i class="fa-solid fa-bars fs-5"></i>
      </a>
      <a class="navbar-brand" href="/o">Coupon Sell</a>
    </div>

    <div class="me-5">
      <ul class="navbar-nav flex-row d-flex align-items-center me-4">
        <li *ngIf="!isLoggedIn" class="nav-item me-3"><a routerLink="/login" class="text-decoration-underline text-dark">Login</a></li>
          <li *ngIf="isLoggedIn" mdbDropdown class="nav-item ">
            <a
              class="nav-link d-flex align-items-center"
              id="userMenuButton"
              role="button"
              mdbDropdownToggle
              aria-expanded="false"
            >
              <img *ngIf="userInfo.authProvider == 'LOCAL'; else elseNoProfile"
                [src]="userInfo.profile == null ? '/images/default-avatar.png' : getUserProfile(userInfo.profile)  " alt="User Avatar"
                class="rounded-circle"
                height="40"
                width="40"
                alt="User Avatar"
              />
              <ng-template #elseNoProfile>
                <img
                [src]="userInfo.profile "
                class="rounded-circle"
                height="40"
                width="40"
                alt="User Avatar"
              />
              </ng-template>
            </a>

  <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">
    <div class="px-3 py-2">
      <span class="d-block fw-bold">{{ userInfo.name || 'John Doe' }}</span>
      <span class="text-muted">{{ userInfo.email || 'johndoe@example.com' }}</span>
    </div>

    <div class="dropdown-divider mt-2 mb-2"></div>

    <li>
      <a class="dropdown-item" routerLink="/profile">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        <span class="ms-2">Profile</span>
      </a>
    </li>
    <li>
      <a class="dropdown-item" routerLink="/change-password">
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
       <span class="ms-2">Change Password</span>
      </a>
    </li>
    <div class="dropdown-divider"></div>
    <li>
      <a class="dropdown-item" (click)="logoutButton()" >
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
       <span class="ms-2">Logout</span>
      </a>
    </li>
  </ul>
</li>

      </ul>
    </div>

    </div>

</nav>

<!-- Sidebar -->
<div [class.open]="sidebarOpen" class="sidebar border-end fixed-left mt-3">
  <!-- Sidebar Home Link -->
  <a
    routerLink="/o"
    class="mt-5"
  >
   <svg xmlns="http://www.w3.org/2000/svg" class="me-2" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M226.67-186.67h140v-246.66h226.66v246.66h140v-380L480-756.67l-253.33 190v380ZM160-120v-480l320-240 320 240v480H526.67v-246.67h-93.34V-120H160Zm320-352Z"/></svg>
    <span>Home</span>
  </a>

  <!-- Business Link with Collapse -->
  <a
  [routerLink]="'/o/shop/' + businessId"
  routerLinkActive="active"
  class="d-block mt-2"
  [ngClass]="{ 'disabled': !shopExist }"

  >
  <svg xmlns="http://www.w3.org/2000/svg" class="me-2" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M160-120q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160Zm240-600h160v-80H400v80Zm400 360H600v80H360v-80H160v160h640v-160Zm-360 0h80v-80h-80v80Zm-280-80h200v-80h240v80h200v-200H160v200Zm320 40Z"/></svg>
    <span>Shop</span>
  </a>

  <!-- Additional Sidebar Links -->
  <a
  routerLink="/d/customers"
  routerLinkActive="active"
  class="d-block mt-2"
  [ngClass]="{ 'disabled': !shopExist }"
  >
  <svg xmlns="http://www.w3.org/2000/svg" class="me-2" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z"/></svg>
  <span>Customers</span>
  </a>

  <a
  routerLink="/d/category"
  routerLinkActive="active"
  [ngClass]="{ 'disabled': !shopExist }"
  class="d-block mt-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="me-2" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
      <path d="M12 2L2 7l10 5 10-5-10-5zm0 7.77L4.61 7 12 11l7.39-4-7.39 3.77zM2 17l10 5 10-5-2-1.2-8 4-8-4-2 1.2z"/>
    </svg>


  <span>Categories</span>
  </a>

</div>


<!-- Content Area -->
<div class="content-area">

  <div *ngIf="loading" class="d-flex justify-content-center mt-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="text-muted d-block ms-2">Please Wait...</p>
  </div>

  <div *ngIf="!loading && !shopExist " class="shop-setup-placeholder">
    <h2>Oops! You Haven't Set Up Your Shop Yet!</h2>
    <p>Start showcasing your amazing products and reach your customers by creating your shop.</p>
    <div class="action-buttons">
        <button (click)="setupShop()">Create Your Shop</button>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
