.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
  }
  
  thead {
    background-color: #343a40;
    color: white;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
  }

  .custom-icon-size {
    font-size: 16px; /* Adjust the size as needed */
  }