.sidebar {
  min-height: 100vh;
  background-color: #4e73df;
  transition: width 0.3s;

  &.expanded {
    width: 256px;
  }

  &.collapsed {
    width: 80px;
  }
}

.sidebar-link {
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;

  &:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.notification-badge {
  position: absolute;
  top: -8px;
  right: -8px;
}

.progress-bar-custom {
  height: 8px;
}

.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.inActive {
  background-color: #4e73df;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

