  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #060008ce;
    transition: width 0.3s;
    overflow: hidden;
    z-index: 999;
  }

  .sidebar.expanded {
    width: 256px;
  }

  .sidebar.collapsed {
    width: 80px;
  }

  .sidebar .nav-link {
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s;
  }

  .sidebar .nav-link:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }

  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 888;
  }

  /* Main Content */
  .main-content {
    margin-top: 70px; /* Height of the navbar */
    margin-left: 256px; /* Default expanded sidebar width */
    padding: 16px;
    overflow-y: auto;
    min-height: calc(100vh - 70px); /* Full height minus navbar height */
    transition: margin-left 0.3s;
  }

  /* Adjust margin-left when the sidebar is collapsed */
  .sidebar.collapsed ~ .main-content {
    margin-left: 80px;
  }


    /* Utility Classes */
    .notification-badge {
      position: absolute;
      top: -8px;
      right: -8px;
    }

    .progress-bar-custom {
      height: 8px;
    }

    .active {
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
    }

    .inActive {
      background-color: #4e73df;
    }


.unread-mark {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #007bff; /* Blue dot for unread notifications */
  border-radius: 50%;
  margin-left: 8px; /* Space between message and dot */
}



    .disabled {
      pointer-events: none;
      opacity: 0.5;
    }

