<div class="payment-container">
  <div class="owner-info">
    <!-- QR code photo dynamically changes based on selected payment method -->
    <img [src]="getImageUrl(selectedMethod?.qrImage)" alt="QR Owner Photo" />
    <p>{{ selectedMethod?.accountName }}</p>
    <p>{{ selectedMethod?.accountNumber }}</p>
  </div>

  <div class="form-section">
    <div class="form-group">
      <label for="paymentMethod">Payment Method:</label>
      <select id="paymentMethod" (change)="onPaymentMethodChange($event)">
        <option *ngFor="let method of paymentMethods" [value]="method.paymentType">
          {{ method.paymentType }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="totalPrice">Total Price:</label>
      <input type="number" id="totalPrice" [value]="total" readonly />
    </div>

    <div class="form-group">
      <label>Products and Quantity:</label>
      <div class="scroll-div">
        <ul>
          <li *ngFor="let item of cartData">
            <a href="javascript:void(0)" (click)="showProductDetails(item)">
              {{ item.productName }}
            </a> - Qty: {{ item.quantity }}
          </li>
        </ul>
      </div>
    </div>
    <!-- Modal Box -->
<div
class="modal"
*ngIf="selectedProduct"
(click)="closeModal($event)"
>
<div class="modal-content">
  <span class="close" (click)="closeModal($event)">&times;</span>
  <img [src]="getProductImageUrl(selectedProduct.productImage)" alt="Product Image" class="modal-image" />
  <h2>{{ selectedProduct.productName }}</h2>
  <p>Price: ${{ selectedProduct.price }}</p>
</div>
</div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input
        type="text"
        id="phoneNumber"
        [(ngModel)]="phoneNumber"
        placeholder="Enter your phone number"
      />
    </div>

    <div class="form-group">
      <label for="screenshot">Upload Screenshot</label>
      <input type="file" id="screenshot" (change)="onFileChange($event)" />
       <!-- Preview uploaded screenshot -->
        <div *ngIf="previewUrl">
        <img [src]="previewUrl" alt="Uploaded Screenshot Preview"  class="preview-image" />
        </div>
    </div>


    <div class="buttons">
      <button class="btn btn-cancel"
      (click)="cancelOrder()">Cancel</button>
      <div class="tooltip-container">
        <button
          class="btn btn-ok"
          (click)="submitOrder()"
        >
          Submit Order
        </button>
      </div>
    </div>
  </div>
</div>
