<div class="order-history mt-5 mx-auto" *ngIf="orderHistory.length > 0; else noOrders">
  <h3>Order History</h3>


  <!-- Loop through each order and create a card -->
  <div *ngFor="let order of orderHistory" class="card mb-4"
  [ngClass]="{ 'faint-completed': order.status === 1 }">
    <div class="card-body">
      <!-- User and Order Details -->
      <div class="order-header">

        <div
        class="order-status"
        [ngClass]="{
          'text-success': order.status === 1,
          'text-danger': order.status === 2,
          'text-warning': order.status !== 1 && order.status !== 2
        }">
        {{
          order.status === 1
            ? 'Completed'
            : (order.status === 2
                ? 'Rejected'
                : 'Pending')
        }}
      </div>


         <p>
          Order ID: <strong>{{ order.order_id || 'N/A' }}</strong>
         </p>
         <p>
          Order Date:
          <strong>{{ order.order_date ? (order.order_date | date: 'medium') : 'N/A' }}</strong>
         </p>

      </div>


      <!-- Loop through each item in the order -->
      <div *ngFor="let item of order.orderItems" class="order-details mb-3">

          <!-- Order Photo -->
      <div class="order-screenshot text-center mb-3 w-25">
          <img class="img-thumbnail small-img" [src]="getProductImage(item.imagePath) || 'https://via.placeholder.com/120'" alt="Order Photo" />
          </div>
            <div class="product-info">

             <p>
              Item Name: <strong>{{ item.name || 'N/A' }}</strong>
             </p>
             <p>
             Quantity: <strong>{{ item.quantity || 'N/A' }}</strong> | Unit Price: <strong>{{ item.unitPrice || 'N/A' }} MMK</strong>
             </p>
          </div>
      </div>

      <!-- Order Summary -->
      <div class="order-summary">
         <p class="total-items">
          Total Items: <strong>{{ order.orderItems.length }}</strong> | Total Price: <strong>{{ order.totalPrice | number }} MMK</strong>
         </p>

         <button *ngIf="order.status === 1" class="btn btn-primary mt-2" (click)="saveOrderAsImage(order.order_id)">
          <i class="fa fa-download"></i>
        </button>

      </div>

         <div *ngIf="order.status <=0" class="loader-container">


         <p class="loader-text">⏳ Your order is being processed...</p>
          <div class="loader"></div>

        </div>
    </div>
  </div>
</div>

<ng-template #noOrders>
  <p class="text-center">No orders found!</p>
</ng-template>
