<!-- <div class="container mt-5"> -->

  <h2 class="text-center mb-4 text-gradient font-weight-bold">Welcome To Our Platform</h2>

  <div class="search-container mb-5">
    <app-search-filter (searchTermChange)="filterItems($event)"></app-search-filter>
  </div>

  <!-- No Results Message -->
  <div class="text-center text-muted mt-5 no-results" *ngIf="filteredBusinesses.length === 0 && filteredProducts.length === 0">
    <h4>No matches found. Please adjust your search.</h4>
  </div>

  <!-- Businesses Section -->
  <div class="section" *ngIf="filteredBusinesses.length > 0">
    <h3 class="text-center section-title mb-4">Explore Businesses</h3>
    <div class="slider-container">
      <button class="slider-btn left-btn" (click)="scrollLeft(businessTrack, businessArray)"><i class="fas fa-chevron-left"></i></button>
      <div class="slider-track" #businessTrack>
        <div class="slider-item" *ngFor="let business of filteredBusinesses">
          <div class="card">
            <img
              [src]="'/images/business/logos/i1.png'"
              class="card-img-top"
              alt="{{ business.name }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ business.name }}</h5>
              <p class="card-text">
                <strong>Location:</strong> {{ business.location }}<br />
                {{ business.description | slice: 0:60 }}...
              </p>
              <button class="btn btn-primary btn-business" [routerLink]="['/homepage/u/detail-business' , business.id]">View</button>
            </div>
          </div>
        </div>
      </div>
      <button class="slider-btn right-btn" (click)="scrollRight(businessTrack, businessArray)"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>

  <hr class="section-divider my-5" *ngIf="filteredBusinesses.length > 0" />
  <!-- Products Section -->
        <!-- <div class="slider-item" *ngFor="let product of filteredProducts">
          <div class="card">

            <div class="discount-badge" *ngIf="product.discount">
              {{ product.discount }}% OFF
            </div>

            <img
              [src]="getImageUrl(product.imagePath) || 'images/product/e.jpg'"
              class="card-img-top"
              alt="{{ product.name }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">
                {{ product.description.length > 70 ? (product.description | slice: 0: 70) + '...' : product.description }}
              </p>

              
              <button class="btn btn-primary btn-product" (click)="viewProductDetails(product.id)">View</button>
            </div>
          </div>
        </div> -->

        <app-coupon-card></app-coupon-card>

      <!-- </div> -->

