<!-- app.component.html -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light border-bottom bg-light py-md-2 fixed-top">

    <div class="container-fluid ">
      <div class="mx-3 d-flex align-items-center ">
        <a
        class="text-dark me-3"
        type="button"
        (click)="toggleSidebar()"
        aria-label="Toggle sidebar"
      >
      <i class="fa-solid fa-bars fs-5"></i>
        </a>
        <a class="navbar-brand" routerLink="/homepage">Coupon Sell Home Page</a><i class="fa-solid fa-ticket"></i>
      </div>
      <div class="me-5">
        <ul class="navbar-nav flex-row d-flex align-items-center me-4">
          <li *ngIf="!isLoggedIn" class="nav-item me-3"><a routerLink="/login" class="text-decoration-underline text-dark">Login</a></li>
          <!-- <li *ngIf="isLoggedIn" mdbDropdown class="nav-item me-3 me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center"
            id="m1"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
            >
              <img
                src="https://mdbootstrap.com/img/new/avatars/1.webp"
                class="rounded-circle"
                height="22"
                alt=""
                loading="lazy"
              />
              <strong class="d-none d-sm-block ms-1">{{userInfo.name || 'John'}}</strong>
            </a>
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="m1">
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </li> -->
          <!-- User Avatar Dropdown -->

  <li *ngIf="isLoggedIn" mdbDropdown class="nav-item ">
    <a
      class="nav-link d-flex align-items-center"
      id="userMenuButton"
      role="button"
      mdbDropdownToggle
      aria-expanded="false"
    >
      <img *ngIf="userInfo.authProvider == 'LOCAL'; else elseNoProfile"
        [src]="getImageUrl(userInfo.profile)"
        class="rounded-circle"
        height="40"
        width="40"
        alt="User Avatar"
      />
      <ng-template #elseNoProfile>
        <img
        [src]="userInfo.profile"
        class="rounded-circle"
        height="40"
        width="40"
        alt="User Avatar"
      />
      </ng-template>
    </a>

    <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end " aria-labelledby="userMenuButton">
      <div class="px-3 py-2">
        <span class="d-block fw-bold">{{ userInfo.name || 'John Doe' }}</span>
        <span class="text-muted">{{ userInfo.email || 'johndoe@example.com' }}</span>
      </div>

      <div class="dropdown-divider mt-2 mb-2"></div>

      <li>
        <a class="dropdown-item" routerLink="/homepage/userprofile">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          <span class="ms-2">Profile</span>
        </a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/change-password">
          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
         <span class="ms-2">Change Password</span>
        </a>
      </li>
      <div class="dropdown-divider"></div>
      <li>
        <a class="dropdown-item" (click)="logoutButton()" >
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
         <span class="ms-2">Logout</span>
        </a>
      </li>
    </ul>
  </li>

        </ul>
      </div>


      </div>

  </nav>

  <!-- Sidebar -->
  <div [class.open]="sidebarOpen" class="sidebar border-end fixed-left">
    <a routerLink="/homepage/page"
    routerLinkActive="active"
      class="mt-5">
      <i class="fas fa-home me-3"></i> Home
    </a>

    <!-- Business Link -->
    <a
      routerLink="/hp/business"
      routerLinkActive="active"
      class="">
      <i class="fas fa-store"></i> Business
    </a>

    <a
      routerLink="/homepage/c"
      routerLinkActive="active"
      class="">
      <i class="fas fa-shopping-bag"></i> Products
    </a>

    <a
    routerLink="/homepage/friends"
    routerLinkActive="active"
    class="">
      <div>
        <i class="fas fa-user-friends me-2"></i> Friends
      </div>
      <span *ngIf="pendingFriendRequestsCount > 0" class="badge bg-danger rounded-circle ms-2">
          {{ pendingFriendRequestsCount }}
      </span>
      </a>


    <a
        routerLink="/homepage/history"
        routerLinkActive="active"
        class="">
        <i class="fa-solid fa-clock-rotate-left"></i> History
    </a>

    <a
        routerLink="/homepage/aboutus"
        routerLinkActive="active"
        class="">
        <i class="fa-regular fa-address-card"></i> About Us
    </a>
  </div>

  <!-- Content Area -->
  <div class="content-area">

   <router-outlet></router-outlet>

    <!-- <div *ngIf="decodedToken">

      <h3>Decoded JWT:</h3>
      <pre>{{ decodedToken | json }}</pre>
    </div> -->

  </div>
