<div class="row mt-4" *ngIf="cartData.length > 0; else nocartdata">
  <div class="col-md-10 offset-1">
    <!-- Table Section -->
    <div class="table-container mb-4 mb-lg-0 me-2 mt-5">
      <table class="table align-middle mb-0 bg-white table-responsive table-responsive-sm">
        <thead class="bg-light">
          <tr>
            <th></th>
            <th class="col-2 text-center">Name</th>
            <th class="col-2 text-center">Quantity</th>
            <th class="col-2">Price</th>
            <th class="col-2">Exp Date</th> <!-- Set width here for alignment -->
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="!loading">
          <tr *ngFor="let item of cartData">
            <td>
              <div class="d-flex align-items-center">
                <img [src]="getImageUrl(item.productImage)" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ item.productName }}</p>
            </td>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <button class="btn btn-link px-2" (click)="updateQuantity(item.cartId, 'decrement')">
                  <i class="fas fa-minus"></i>
                </button>
                <input type="text" [value]="item.quantity" class="form-control form-control-sm text-center" style="width: 60px;" readonly />
                <button class="btn btn-link px-2" (click)="updateQuantity(item.cartId, 'increment')">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <span *ngIf="item.couponRemain <= 5" class="text-danger ms-4" style="font-size: 11px;">
                Only {{item.couponRemain}} items left!
              </span>
            </td>
            <td>{{ item.price }} MMK</td>
            <td>{{ item.expireDate | date }}</td>
            <td>
              <button class="btn btn-sm btn-link" (click)="clearCart(item.cartId)">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 -960" width="20px" fill="#EA3323">
                  <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
        <!-- Footer Section -->
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td class="text-center">
              <strong>Total Quantity:</strong>
              {{ calculateTotalQuantity() }}
            </td>
            <td>
              <strong>Total Price:</strong>
              {{ calculateSubtotal() }} MMK
            </td>
            <td class="text-center" style="vertical-align: middle;">
              <!-- Align button to the same row -->
              <button
                type="button"
                class="btn btn-primary btn-lg mt-3"
                [routerLink]="['/homepage/order']"
                [state]="{ action: 'add-to-cart', cartData: cartData, total: calculateSubtotal(), totalQuantity: calculateTotalQuantity(), coupons: coupons }"
              >
                Checkout
              </button>
            </td>

          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<ng-template #nocartdata>
  <div class="nothing-added-to-cart">
    <span class="border border-lg border-secondary rounded-circle p-4">
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#434343"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
    </span>
    <p>Your cart is empty!</p>
    <button class="btn btn-primary" routerLink="/homepage/products">Browse Products</button>
  </div>
</ng-template>
