<div class="row mt-4"  *ngIf="cartData.length>0; else nocartdata">
  <div class="col-md-10 offset-1">
    <div class="d-flex flex-sm-column flex-lg-row align-items-lg-start align-items-sm-center justify-content-center ">

          <!-- Table Section -->
        <div class="table-container mb-4 mb-lg-0 me-2 mt-5 " style="flex: 1;">
          <table class="table align-middle mb-0 bg-white table-responsive table-responsive-sm">
            <thead class="bg-light">
              <tr>
                <th></th>
                <th class="col-2 text-center">Name</th>
                <th class="col-2 text-center">Quantity</th>
                <th class="col-2">Price</th>
                <th>Exp Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="!loading">
              <tr *ngFor="let item of cartData">
                <!-- Product -->
                <td>
                  <div class="d-flex align-items-center">
                    <img
                      [src]="getImageUrl(item.productImage)"
                      alt=""
                      style="width: 45px; height: 45px"
                      class="rounded-circle"
                    />
                  </div>
                </td>
                <!-- Name -->
                <td>
                  <p class="fw-normal mb-1">{{ item.productName }}</p>
                </td>

                <!-- Quantity with + and - Buttons -->
                <td>
                  <div class="d-flex align-items-center">
                    <button
                      class="btn btn-link px-2"
                      (click)="updateQuantity(item.cartId, 'decrement')"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                    <input
                      type="text"
                      [value]="item.quantity"
                      class="form-control form-control-sm text-center"
                      style="width: 60px;"
                      readonly
                    />
                    <button
                      class="btn btn-link px-2"
                      (click)="updateQuantity(item.cartId, 'increment')"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </td>
                <!-- Price -->
                <td>{{ item.price}} MMK </td>
                <!-- Expiration Date -->
                <td>{{ item.expireDate | date}}</td>
                <td>
                  <button class="btn btn-sm btn-link" (click)="clearCart(item.cartId)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#EA3323">
                      <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
            <div *ngIf="loading" class="d-flex justify-content-center mt-3">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </table>
        </div>

        <!-- Card Section -->
        <div class="card shadow-2-strong mb-5 mb-lg-0 mt-4" style="border-radius: 16px; width: 100%; max-width: 350px;">
          <div class="card-body p-4">
            <div class="row">

              <div class="col-lg-12">
                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-2">Subtotal</p>
                  <p class="mb-2">{{ calculateSubtotal()}} MMK</p>
                </div>

                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-0">Shipping</p>
                  <p class="mb-0">{{ shipping }} MMK</p>
                </div>

                <hr class="my-4" />

                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                  <p class="mb-2">Total (tax included)</p>
                  <p class="mb-2">{{ calculateTotal()}} MMK</p>
                </div>

                <button
                  type="button"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-primary btn-block btn-lg"
                  [routerLink]="['/homepage/order']"
                  [state]="{ action: 'add-to-cart', cartData: cartData, total: calculateTotal(), coupons: coupons }"
                >
                  <div class="d-flex justify-content-between">
                    <span>Checkout</span>
                    <span>{{ calculateTotal() }} MMK</span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>



<ng-template #nocartdata>
    <div class="nothing-added-to-cart">
      <span class="border border-lg border-secondary rounded-circle p-4">
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#434343"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
      </span>
      <p>Your cart is empty!</p>
      <button class="btn btn-primary" routerLink="/homepage/page">Browse Products</button>
    </div>
</ng-template>
