  
  <div class="content container">

    <figure class="figure">
      
      <!-- Back Button (Circular) -->
        <div class="back-button">
          <button class="btn btn-back-icon" (click)="goBack()">
            <i class="fas fa-sign-out-alt fa-flip-horizontal"></i>
          </button>
        </div>

      <img
        src="/images/business/logos/i3.jpg"
        class="figure-img img-fluid rounded shadow-3"
        alt="Business Image"
      />
      <figcaption class="figure-caption">
        <span class="business-name">{{ business.name }}</span><br/>
        <span class="business-category">Category: {{ business.category}}</span>
      </figcaption>
    </figure>
  <div class="tabs-section">
    <mdb-tabs>
      <mdb-tab>
        <ng-template mdbTabTitle>
          <span>
            <i class="fas fa-box-open fa-fw me-2"></i>
            Products
          </span>
        </ng-template>
          <div class="tab-content">
          <app-business-product></app-business-product>

          </div>
      </mdb-tab>
      
      <mdb-tab>
        <ng-template mdbTabTitle>
          <span>
            <i class="fas fa-info-circle fa-fw me-2"></i>
            About
          </span>
        </ng-template>
          <div class="tab-content">
            <h3>About {{ business.name }}</h3>
          <div class="about-content">
            <div class="about-item">
              <i class="fas fa-map-marker-alt about-icon"></i>
              <p><strong>Location:</strong> {{ business.location }}</p>
            </div>
            <!-- Business Description -->
            <div class="about-item">
              <i class="fas fa-clipboard about-icon"></i>
              <p><strong>Description:</strong> {{ business.description }}</p>
            </div>
            <!-- Business Contact -->
            <div class="about-item">
              <i class="fas fa-phone-alt about-icon"></i>
              <p><strong>Contact:</strong> {{ business.contactNumber }}</p>
            </div>
            <!-- Business Owner -->
            <div class="about-item">
              <i class="fas fa-user-tie about-icon"></i>
              <p><strong>Owner:</strong> {{ business.userName }} ({{ business.userEmail }})</p>
            </div>
             <!-- Business Status -->
            <div class="about-item">
              <i class="fas fa-check-circle about-icon"></i>
                <p><strong>Open:</strong> 
              <span [ngClass]="{'text-success': business.status, 'text-danger': !business.status}">
                {{ business.status ? 'Open' : 'Closed' }}
              </span>
                </p>
            </div>
          </div>
        </div>
      </mdb-tab>
      
      <mdb-tab>
        <ng-template mdbTabTitle>
          <span>
            <i class="fas fa-history fa-fw me-2"></i>
            History
          </span>
        </ng-template>
          <div class="tab-content">
          </div>
      </mdb-tab>
      
    </mdb-tabs>
  </div>
</div>