<div class="modal-header">
    <h5 class="modal-title">Rating List</h5>
    <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
  </div>
  <div class="modal-body scrollable-content">
    <div *ngFor="let review of ratingList" class="review-item">
      <div class="profile">
        <div class="profile-picture">
          <img 
            [src]="getImageUrl(review.profile)" 
            class="rounded-circle"
            alt="User Avatar"
            height="50"
            width="50"
          >
        </div>
      </div>
      <div class="review-content">
        <div class="review-header">
          <span class="user-name">{{ review.userName }}</span>
          <div class="star-rating">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
              <i 
                class="star" 
                [class.filled]="i < review.count"
                aria-hidden="true"
              >&#9733;</i>
            </ng-container>
          </div>
        </div>
        <div class="d-flex justify-content-between me-3">
        <div class="">
          {{ review.message }}
        </div>
        
        <div class="text-muted">
            {{ review.createdAt | date }}
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  </div>