
<!-- <div class="search-bar">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search products"
      [(ngModel)]="searchQuery"

    />
    <button class="btn btn-primary" (click)="onSearch()">
      Search
    </button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of filteredProducts">
      <div class="card m-2">
        <img
          src="/images/product/istockphoto-1023612090-612x612.jpg"
          class="card-img-top"
          alt="{{ product.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <button
            class="btn btn-primary"
            (click)="viewProductDetails(product.id)"
          >
            View Details
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="filteredProducts.length === 0" class="text-center mt-4">
      <p>No products match your search query.</p>
    </div>
  </div>
</div> -->

<div class="container">
  <!-- Search Bar and First Product Card in Same Row -->
  <div class="row align-items-center mb-3">
    <!-- Search Bar Column -->
    <div class="col-12 col-md-6 mb-2">
      <div class="search-bar">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search products"
            [(ngModel)]="searchQuery"
            (input)="filterProducts()"
            aria-label="Search products"

          />
        </div>
      </div>
    </div>



<div class="container" >
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of filteredProducts">
      <div class="card m-2">
        <img
          [src]=" getImageUrl(product.imagePath) "
          class="card-img-top"
          alt="{{ product.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <button class="btn btn-primary" (click)="viewProductDetails(product.id)">
            View Details
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="filteredProducts.length === 0" class="text-center mt-4">
      <p>No products match your search query.</p>
    </div>
  </div>
</div>

