

<ag-grid-angular
    style="width: 100%; height: 485px;"
    [gridOptions]="gridOptions"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [rowSelection]="rowSelection"
    [modules]="modules"

    [rowData]="displayedCoupons"
    (gridReady)="onGridReady($event)"
    (paginationChanged)="onPaginationChanged()"

    >

</ag-grid-angular>




    <!-- Pagination Controls -->
    <div class="pagination-controls">

 <!-- Page Size Control -->
 <div class="action-bar">
  <label for="pageSize">Page Size:</label>
  <select id="pageSize" [(ngModel)]="paginationPageSize" (change)="onPageSizeChange()">
    <option *ngFor="let size of paginationPageSizeSelector" [value]="size">{{ size }}</option>
  </select>

      <button [disabled]="!hasPreviousPage" (click)="onPreviousPage()">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button [disabled]="!hasNextPage" (click)="onNextPage()">Next</button>
    </div>
  </div>

