<div class="container my-4">
  <!-- Search and Filter Section -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- Search Box -->
    <input
      type="text"
      class="form-control w-50"
      placeholder="Search by Order ID or Customer Name"
      [(ngModel)]="searchTerm"
      (input)="filterOrders()"
    />

    <!-- Status Filter -->
    <select
      class="form-select w-25"
      [(ngModel)]="statusFilter"
      (change)="filterOrders()"
    >
      <option value="">All</option>
      <option value="pending">Pending</option>
      <option value="accepted">Accepted</option>
      <option value="rejected">Rejected</option>
    </select>
  </div>
  <!-- Orders Table -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Customer Name</th>
          <th>Phone</th>
          <th>Total Amount</th>
          <th>Status</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of filteredOrders | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };">
          <td class="fw-bold">#{{ order.order_id }}</td>
          <td>
            <span class="fw-normal">{{ order.userName }}</span><br>
            <span class="text-muted">{{ order.userEmail }}</span>
          </td>
          <td>{{ order.phoneNumber }}</td>
          <td>{{ order.totalPrice  }} MMK</td>
          <td>
            <span [ngClass]="{
              'text-success': order.status === 1,
              'text-warning': order.status === 0,
              'text-danger': order.status === 2
            }">
              {{ statusFilterText(order.status) }}
            </span>
          </td>
          <td>{{ order.createdAt | date: 'short' }}</td>
          <td>
            <button class="btn btn-info" (click)="viewOrderDetails(order.order_id)">View</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination Controls -->
   <div class="d-flex justify-content-end">
    <pagination-controls
    (pageChange)="currentPage = $event"
    [responsive]="true"
    previousLabel="Previous"
    nextLabel="Next"
  ></pagination-controls>
 </div>
  </div>
</div>
